---
---
@import "{{ site.theme  }}";

/* Theme Styles */
body {
  font-size: 19px;
  /* 長い URL とかでレイアウトが崩れるのを防ぐ */
  word-break: break-all;
}

/* Full-Width Styles */
.inner {
  max-width: 960px;
}

/* Small Device Styles */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }
}
