---
---
@import "{{ site.theme  }}";

/* Theme Styles */
body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 19px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Full-Width Styles */
.inner {
  position: relative;
  max-width: 55vw;
  padding: 20px 10px;
  margin: 0 auto;
}
